/* User Creation Section */
#user-creation {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #user-creation h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #user-creation form {
    display: flex;
    flex-direction: column;
    width: 480px;
    align-items: center;
  }
  
  #user-creation label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #user-creation input,
  #user-creation select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  #user-creation button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #user-creation button:hover {
    background-color: #005bbf;
  }
  .two-section {
    display: flex;
    gap: 32px;
  }
  .two-section section {
    width: 50%;
  }
  .admin-dashboard-ul {
    list-style-type: none;
    padding: 0;
  }
  .admin-dashboard-ul li {
    padding: 8px 16px;
    background-color: #60a7e6;
    margin: 16px 0;
    border-radius: 4px;
  }
  
  .admin-dashboard-ul li:hover {
    background-color: #005bbf;
  }
  
  .admin-dashboard-ul li a {
    color: white;
  }
  
  .results-programs-ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px 0;
  }
  
  .results-programs-ul li {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background-color: #d3e7f9;
    padding: 16px;
    border-radius: 4px;
  }
  
  .results-programs-ul li:hover {
    background-color: #9ac6ec;
  }
  .results-programs-ul li span {
    text-align: center;
  }
  .results-programs-li-header {
    font-size: 1.25rem;
  }
  